/* .element .style{
} */
@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 991px) {
    .inner {
        min-width: 768px;
    }
}
.inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
    background: url(../images/registration-form-2.jpg);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: "Muli-Regular";
    color: #666;
    font-size: 13px;
    margin: 0;
}